.container{
    display: grid;
    grid-template-columns: 25% 25% 25% ;
    justify-content: space-around;
    gap: 5px;
    text-align: center;
    align-items: center;
    height: 200px;
    

}
.items{
    background-color: darkgoldenrod;
    height: 100%;
    width: 100%;
}